html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-image: url('../img/pattern.jpg');
    position:absolute;
    font-family: sans-serif;
  }

header{ 
  background-color:white;
  position: fixed;
  width:100%;
}

header img {
  float:left;
}
header nav ul{
  float:right;
}
header nav ul a{
  top:0;
  text-decoration-line: none;
  list-style-type:none;
  display: inline-block;
  padding-right:20px;
}

section{
  margin-top:5%;
  margin-left:15%;
  background-color:white;
  width:70%;
  padding:1%;
}

section h1{
  text-align:center;
}


input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

footer{
  background-color:black;
  color:white;

}

footer h5{
  padding:2%;
  text-align:center;
}

